<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveImage(editableImage)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        Image Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Image name" ng-model="editableImage.name"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project</label>                   
                                <input class="form-control"
                                       placeholder="Select Project"
                                       uib-typeahead="project.id as project.name for project in searchProjects($viewValue)"
                                       typeahead-on-select="setProject($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingProjects" 
                                       typeahead-no-results="noProjectsFound"                                       
                                       ng-model="editableImage.project.name" />
                                <p ng-show="noProjectsFound" class="help-block text-muted">No Projects found</p>
                                <p ng-show="loadingProjects" class="help-block text-muted">loading...</p>                                    
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableImage.repeatName">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Property</label>                   
                                <input class="form-control"
                                       placeholder="Select Property"
                                       uib-typeahead="property.id as property.name for property in searchProperties($viewValue)"
                                       typeahead-on-select="setProperty($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingProperties" 
                                       typeahead-no-results="noPropertiesFound"                                       
                                       ng-model="editableImage.property.name" />
                                <p ng-show="noPropertiesFound" class="help-block text-muted">No Properties found</p>
                                <p ng-show="loadingProperties" class="help-block text-muted">loading...</p>                                    
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Location</label>                   
                                <input class="form-control"
                                       placeholder="Select Location"
                                       uib-typeahead="location.id as location.name for location in searchLocations($viewValue)"
                                       typeahead-on-select="setLocation($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingLocations" 
                                       typeahead-no-results="noLocationsFound"                                       
                                       ng-model="editableImage.location.name" />
                                <p ng-show="noLocationsFound" class="help-block text-muted">No Locations found</p>
                                <p ng-show="loadingLocations" class="help-block text-muted">loading...</p>                                    
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <!--                        <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Uploaded Document Name</label>
                                                        <input class="form-control" placeholder="Uploaded Document name" ng-model="editableImage.document"/>
                                                    </div>
                                                </div>
                        -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Uploaded Document Name</label>
                                <select class="form-control" ng-model="editableImage.documentName">
                                    <option value="">Choose Uploaded Document Name</option>
                                    <option value="LAND_CONVERSION_ORDER">Land Conversion Order</option>
                                    <option value="LAYOUT_SANCTION">Layout Sanction</option>
                                    <option value="BUILDING_SANCTION">Building Sanction</option>
                                    <option value="COMPLETION_CERTIFICATE">Completion Certificate</option>
                                    <option value="OCCUPANCY_CERTIFICATE">Occupancy Certificate</option>
                                    <option value="TAX_RECEIPT">Tax Receipt</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
