<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveFranchise(editableFranchise)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Franchise Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Franchise Name</label>
                                <input class="form-control" placeholder="Franchise name" ng-model="editableFranchise.name"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" placeholder="Address" ng-model="editableFranchise.address"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableFranchise.repeatFranchise">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" placeholder="Email" ng-model="editableFranchise.email"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number1</label>
                                <input type="" class="form-control" placeholder="Phone Number1" ng-model="editableFranchise.phoneNumber1"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number2</label>
                                <input type="" class="form-control" placeholder="Phone Number2" ng-model="editableFranchise.phoneNumber2"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fax</label>
                                <input class="form-control" placeholder="Fax" ng-model="editableFranchise.fax"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City Name</label>
                                <input class="form-control"
                                       placeholder="Select City"
                                       uib-typeahead="city.id as city.name for city in searchCities($viewValue)"
                                       typeahead-on-select="setCity($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingCities" 
                                       typeahead-no-results="noCitiesFound"                                       
                                       ng-model="editableFranchise.city.name" required />
                                <p ng-show="noCitiesFound" class="help-block text-muted">No Cities found</p>
                                <p ng-show="loadingCities" class="help-block text-muted">loading...</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Location Name</label>
                                <input class="form-control"
                                       placeholder="Select Location"
                                       uib-typeahead="location.id as location.name for location in searchLocations($viewValue)"
                                       typeahead-on-select="setLocation($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingLocations" 
                                       typeahead-no-results="noLocationsFound"                                       
                                       ng-model="editableFranchise.location.name" required />
                                <p ng-show="noLocationsFound" class="help-block text-muted">No Locations found</p>
                                <p ng-show="loadingLocations" class="help-block text-muted">loading...</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

