<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveInventory(editableInventory)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-inventory-o" aria-hidden="true"></i>
                        Inventory Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project Name</label>    
                                <!--<input class="form-control" placeholder="Project name" ng-model="editableInventory.projectId"/>-->
                                <input class="form-control"
                                       placeholder="Select Project"
                                       uib-typeahead="project.id as project.name for project in searchProject($viewValue)"
                                       typeahead-on-select="setProject($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingProject" 
                                       typeahead-no-results="noProjectFound"                                       
                                       ng-model="editableInventory.project.name" required=""/>
                                <p ng-show="noProjectFound" class="help-block text-muted">No Project Found</p>
                                <p ng-show="loadingProject" class="help-block text-muted">Loading...</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Number Of Bhk</label>
                                <select class="form-control" ng-model="editableInventory.noOfBhk" required>
                                    <option value="">BHK</option>
                                    <option value="1 BHK">1 BHK</option>
                                    <option value="2 BHK">2 BHK</option>
                                    <option value="3 BHK">3 BHK</option>
                                </select>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Property Type Category</label>
                                <input class="form-control"
                                       placeholder="Select Property Type"
                                       uib-typeahead="propertyCategory.id as propertyCategory.category for propertyCategory in searchPropertyCategory($viewValue)"
                                       typeahead-on-select="setPropertyCategory($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingPropertyCategory" 
                                       typeahead-no-results="noPropertyCategoryFound"                                       
                                       ng-model="editableInventory.propertyCategory.category" required=""/>
                                <p ng-show="noPropertyCategoryFound" class="help-block text-muted">No Category Found</p>
                                <p ng-show="loadingPropertyCategory" class="help-block text-muted">Loading...</p>
                            </div>
                        </div> 
<!--                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Property Type Id</label>
                                <input class="form-control" placeholder="Inventory name" ng-model="editableInventory.propertyTypeId"/>

                            </div>
                        </div>-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Total Units</label>
                                <input class="form-control" placeholder="Total Units" ng-model="editableInventory.totalUnits"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Unit No</label>
                                <input class="form-control" placeholder="Unit No" ng-model="editableInventory.unitNo"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Floor No</label>
                                <input class="form-control" placeholder="Floor No" ng-model="editableInventory.floorNo"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Building Name</label>
                                <input class="form-control" placeholder="Building Name" ng-model="editableInventory.buildingName"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Price Per Sqft</label>
                                <input class="form-control" placeholder="Price Per Sqft" ng-model="editableInventory.pricePerSqft"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Total Area</label>
                                <input class="form-control" placeholder="Total Area" ng-model="editableInventory.totalArea"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Offered Price</label>
                                <input class="form-control" placeholder="Offered Price" ng-model="editableInventory.offeredPrice"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>No Of Balcony</label>
                                <input class="form-control" placeholder="No Of Balcony" ng-model="editableInventory.noOfBalcony"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>No Of Washroom</label>
                                <input class="form-control" placeholder="No Of Washroom" ng-model="editableInventory.noOfWashroom"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Property Status</label>
                            <div class="form-group">                                  
                                <input type="checkbox" ng-model="editableProperty.isAvailable">&nbsp;&nbsp;
                                <label>Is Available</label>
                            </div>
                            <div class="form-group">                                  
                                <input type="checkbox" ng-model="editableProperty.isReserved">&nbsp;&nbsp;                                        
                                <label>Is Reserved</label> 
                            </div>
                            <div class="form-group">                                  
                                <input type="checkbox" ng-model="editableProperty.isSold">&nbsp;&nbsp;
                                <label>Is Sold</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">                                  
                                <input type="checkbox" ng-model="editableProperty.openTerrace">&nbsp;&nbsp;
                                <label>Open Terrace</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
