<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Ownership Proof
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-sm-12'>
                        <image ng-src="./rest/property/{{property.id}}/attachment" width="565px" height="450px"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" 
                        type="button"
                        data-ui-sref="admin.masters_property">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>