<div class="container-fluid">
    <div class="" style="padding:10px 15px 10px;">
        <h2>Know the DO`s and DON`TS in order to identify the best suitable property</h2>
        <p>At this stage you know that these are short listed properties and you need to finalise or choose the best suitable one based on our guidelines.</p>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fa fa-question-circle"></i> DO'S                    
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body bg">
                        <p><i class="fa fa-caret-right fa-fw"></i>Select top two or three properties, meeting your requirements and prepare a comparison chart under various heads in order to choose the best one, like; size of property in terms of usable area, offered price to know whether it is realistic or not, attractive design and specifications to make your property look exclusive, livable amenities to enjoy your routine life, occupancy and supportive neighborhood to give you clear idea of development potential.
                            Look out for amenities those are of actual use and not becomes a burden later on.</p>
                        <p><i class="fa fa-thumbs-up like"></i> 52 likes
                            <i class="fa fa-thumbs-down dislike"></i> 6 dislike</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fa fa-question-circle"></i> DONT'S
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body bg">
                        <p><i class="fa fa-caret-right fa-fw"></i>Also, adhere to vital point check list to minimize risk and ensure overall success, like; </p>
                        <p><i class="fa fa-caret-right fa-fw"></i>Never buy a property in the following circumstances</p>
                        <p><i class="fa fa-caret-right fa-fw"></i> Without registered agreement to sale or sale deed. It assures you of legal and technical perfection.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>Where property is not eligible for loan from nationalize bank</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For location if it is detached from the main city, especially for residential properties.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For location where no work places are nearby</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For location where source of basic amenities are doubtful, like; transportation, shopping, medical, school/college, parks etc.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For project not having clear and legal approach road.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>If approach road is not safe to travel by kids and ladies in odd hours.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For projects where unsold dwelling units are lying vacant for more than 2 years.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For ready project where occupancy is very low</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>For areas where there is a risk for health hazards like; low areas, near chemical/medicine industries, power plants, filthy lakes and areas prone to crimes.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>Don’t buy overpriced property. Buy below market price or at least at realistic price.</p>
                        <p><i class="fa fa-caret-right fa-fw"></i>Don’t just believe, ensure creditability of seller.</p>
                        <p><i class="fa fa-thumbs-up like"></i> 22 likes
                            <i class="fa fa-thumbs-down dislike"></i> 10 dislike</p>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>



