<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">
        <!--<form role="form" ng-submit="saveAgency(editableAgency)">-->
        <div class="modal-content overflow">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-11 col-xs-10">
                        <h3 class="modal-title">
                            <i class="fa fa-globe text-primary"></i>
                            Compare Locations
                        </h3>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <button class="btn btn-link" onclick="window.history.back()">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th ng-repeat="location in compareList">{{location.name}}</th>
                        </tr>                            
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-users"></i>&nbsp <b>Population</b></td>
                            <td ng-repeat="location in compareList">{{location.population}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file-text"></i>&nbsp<b> Description</b></td>
                            <td ng-repeat="location in compareList">{{location.description}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-tint"></i>&nbsp <b>Source Of Water</b></td>
                            <td ng-repeat="location in compareList">{{location.sourceOfWater}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-road"></i>&nbsp <b>Major Approach Road</b></td>
                            <td ng-repeat="location in compareList">{{location.majorApproachRoad}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker "></i>&nbsp <b>Distance From Center Of City</b></td>
                            <td ng-repeat="location in compareList">{{location.distanceFromCentreOfCity}}&nbsp;Kms</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bus "></i>&nbsp <b>Public Transport</b></td>
                            <td ng-repeat="location in compareList">{{location.publicTransport}}</td>
                        </tr>
                        <!--                        <tr>
                                                    <td><i class="fa fa-building-o "></i>&nbsp <b>Commercial Center</b></td>
                                                    <td ng-repeat="location in compareList" ng-if="location.isCommercialCenter === true">Yes</td>
                                                    <td ng-repeat="location in compareList" ng-if="location.isCommercialCenter === false">No</td>
                                                </tr>-->
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Advantages</b></td>
                            <td ng-repeat="location in compareList">{{location.advantage}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-down "></i>&nbsp <b>Disadvantages</b></td>
                            <td ng-repeat="location in compareList">{{location.disadvantage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--                <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Agency Name</label>
                                            <input class="form-control" placeholder="Agency name" ng-model="editableAgency.name"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" placeholder="Address" ng-model="editableAgency.address"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="editableAgency.repeatName">
                                    <div class="col-sm-6 text-danger">
                                        Found Records For Above Entered Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input class="form-control" placeholder="Desription" ng-model="editableAgency.description"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-lg btn-primary">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <button type="button"
                                            onclick="window.history.back()"
                                            class="btn btn-link" >
                                        cancel
                                    </button>				
                                </div>
                            </div>
                        </div>-->
            <!--</form>-->
        </div>
    </div>


