<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-md-6">
        <img src="images/contactus.jpg" alt="Error Rendering Image" width="550px" class="col-md-12 side"/>
    </div>
    <div class="col-md-6">
        <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <h2>Address</h2>
        <p>Street: 
            4121 Linda Street</p>
        <p>City:  
            Norristown</p>
        <p>State Full: 
            Pennsylvania</p>
        <p>Zip Code: 
            19403</p>
        <p>Phone Number: 
            267-859-4476</p>


    </div>
</div>
