<!-- Navbar (sit on top) -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>            
            <img alt="Brand" style="margin-top: -10px;" src="images/final_logo.png" class="" width="200" height="80" data-ui-sref="">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/#about" class="w3-bar-item w3-button">About Us</a>
                </li>
                <li>
                    <a href="#/#products" class="w3-bar-item w3-button">Products</a>
                </li>
                <li>
                    <a href="#/#projects" class="w3-bar-item w3-button">Approved Projects</a>
                </li>
                <li>
                    <a href="#/#search" class="w3-bar-item w3-button">Search</a>
                </li>
                <li>
                    <a href="#/#reguide" class="w3-bar-item w3-button">RE Guide</a>
                </li>
                <li>
                    <a href="#/#contact" class="w3-bar-item w3-button">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="w3-bar-item w3-button">Post Your Query</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <strong>Copyright &COPY; 2016, All Rights Reserved <a href="http://www.vsquaresystem.com/"> Safe Deals</a></strong>
</footer>