<!-- Navbar (sit on top) -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>            
            <img alt="Brand" style="margin-top: -10px;" src="images/final_logo.png" class="" width="200" height="80" data-ui-sref="">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/#about" class="w3-bar-item w3-button">About Us</a>
                </li>
                <li>
                    <a href="#/#products" class="w3-bar-item w3-button">Products</a>
                </li>
                <li>
                    <a href="#/#projects" class="w3-bar-item w3-button">Approved Projects</a>
                </li>
                <li>
                    <a href="#/#search" class="w3-bar-item w3-button">Search</a>
                </li>
                <li>
                    <a href="#/#reguide" class="w3-bar-item w3-button">RE Guide</a>
                </li>
                <li>
                    <a href="#/#contact" class="w3-bar-item w3-button">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="w3-bar-item w3-button">Post Your Query</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<div class="w3-top">-->
<!--    <div class="w3-bar w3-white w3-wide w3-padding w3-card-2" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#portal" class="w3-bar-item w3-button"><b>Safe</b> Deals</a>
        <a class="" href="#portal_bank">
            <img alt="Brand" src="images/final_logo.png" class="" width="145" height="80" data-ui-sref="">
        </a>
                 Float links to the right. Hide them on small screens 
        <div class="w3-right w3-hide-small">
            <a href="#/#about" class="w3-bar-item w3-button">About Us</a>
            <a href="#/#products" class="w3-bar-item w3-button">Products</a>
            <a href="#/#projects" class="w3-bar-item w3-button">Approved Projects</a>
            <a href="#/#search" class="w3-bar-item w3-button">Search</a>
            <a href="#/#reguide" class="w3-bar-item w3-button">RE Guide</a>
            <a href="#/#contact" class="w3-bar-item w3-button">Contact Us</a>
            <a href="#" class="w3-bar-item w3-button">Post Your Query</a>
        </div>
    </div>

    Navbar on small screens 
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="#/#about" class="w3-bar-item w3-button" onclick="toggleFunction()">About Us</a>
        <a href="#/#products" class="w3-bar-item w3-button" onclick="toggleFunction()">Products</a>
        <a href="#/#projects" class="w3-bar-item w3-button" onclick="toggleFunction()">Approved Projects</a>
        <a href="#/#search" class="w3-bar-item w3-button" onclick="toggleFunction()">Search</a>
        <a href="#/#reguide" class="w3-bar-item w3-button" onclick="toggleFunction()">RE Guide</a>
        <a href="#/#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">Contact Us</a>
        <a href="#" class="w3-bar-item w3-button" onclick="toggleFunction()">Post Your Query</a>
    </div>
</div>-->

<!--<script>

// Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>-->

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="images/architect.jpg" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Home</b></span> <span class="w3-hide-small w3-text-light-grey">Loan</span></h1>
    </div>
</header>
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img src="images/house5.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img src="images/house2.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img src="images/house3.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img src="images/house4.jpg" alt="House" style="width:100%">
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About us Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">ABOUT US</h3>
        <h3 class="w3-center">MISSION</h3>
        <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3 class="w3-center">VISION</h3>
        <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3 class="w3-center">MOTTO</h3>
        <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <!-- products Section -->
    <div class="w3-container w3-padding-32" id="products">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">PRODUCTS</h3>
        <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
                <p class="w3-black w3-padding"><b><i class="fa fa-user w3-margin-right"></i>Max Gain</b></p><br>
                <p class="w3-black w3-padding"><b><i class="fa fa-user w3-margin-right"></i>Shorya</b></p><br>
                <p class="w3-black w3-padding"><b><i class="fa fa-user w3-margin-right"></i>Flexi gain</b></p><br>
            </div>
            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <!-- projects Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">APPROVED PROJECTS</h3>
        <div class="w3-row-padding w3-padding-16">
            <div class="w3-third w3-margin-bottom">
                <img src="images/house3.jpg" alt="Norway" style="width:100%">
                <div class="w3-container w3-white">
                    <h3>Abhay Nagar</h3>
                    <h6 class="w3-opacity">₹ 5714 per sqft</h6>
                    <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
                    <button class="w3-button w3-block w3-black w3-margin-bottom">Add to compare</button>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <img src="images/house5.jpg" alt="Norway" style="width:100%">
                <div class="w3-container w3-white">
                    <h3>Abhay Nagar</h3>
                    <h6 class="w3-opacity">₹ 5714 per sqft</h6>
                    <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
                    <button class="w3-button w3-block w3-black w3-margin-bottom">Add to compare</button>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <img src="images/house4.jpg" alt="Norway" style="width:100%">
                <div class="w3-container w3-white">
                    <h3>Abhay Nagar</h3>
                    <h6 class="w3-opacity">₹ 5714 per sqft</h6>
                    <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
                    <button class="w3-button w3-block w3-black w3-margin-bottom">Add to compare</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Section -->
    <div class="w3-container w3-padding-32" id="search">
        <div class="w3-col m6 w3-row-padding">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Basic Search</h3>
            <div class="w3-col m5 w3-row-padding">
                <form action="" target="_blank">
                    <div class="input-group w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-home"></i></span>
                        <input class="w3-input" type="text" placeholder="Buy/Rent" required name="Buy">
                    </div>
                    <div class="input-group w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-building"></i></span>
                        <input class="w3-input" type="text" placeholder="Type of Property" required name="Type">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-rupee"></i></span>
                        <input class="w3-input" type="text" placeholder="Budget Min/Max" required name="Budget">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-map-o"></i></span>
                        <input class="w3-input" type="text" placeholder="City" required name="City">
                    </div>
                    <button class="w3-button w3-black w3-section" type="submit">
                        <i class="fa fa-paper-plane"></i> SEARCH
                    </button>
                </form>
            </div>
            <div class="w3-col m5 w3-row-padding">
                <form action="" target="_blank">
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-building"></i></span>
                        <input class="w3-input" type="text" placeholder="Project/Property" required name="Project">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-building-o"></i></span>
                        <input class="w3-input" type="text" placeholder="No. of BHK" required name="BHK">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-home"></i></span>
                        <input class="w3-input" type="text" placeholder="Locality" required name="Locality">
                    </div>
                </form>
            </div>
        </div>
        <div class="w3-col m6 w3-row-padding">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Advance Search</h3>
            <div class="w3-col m5 w3-row-padding">
                <form action="" target="_blank">
                    <div class="input-group w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-comments-o"></i></span>
                        <input class="w3-input" type="text" placeholder="Connectivity" required name="Connectivity">
                    </div>
                    <div class="input-group w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-building"></i></span>
                        <input class="w3-input" type="text" placeholder="Aminities" required name="Aminities">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-home"></i></span>
                        <input class="w3-input" type="text" placeholder="New/Resale" required name="New">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-user"></i></span>
                        <input class="w3-input" type="text" placeholder="Construction Specifications" required name="Specifications">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-map-o"></i></span>
                        <input class="w3-input" type="text" placeholder="Sub-Locality" required name="Sublocality">
                    </div>

                    <button class="w3-button w3-black w3-section" type="submit">
                        <i class="fa fa-paper-plane"></i> SEARCH
                    </button>
                </form>
            </div>
            <div class="w3-col m5 w3-row-padding">
                <form action="" target="_blank">
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-user"></i></span>
                        <input class="w3-input" type="text" placeholder="Neighbourhood" required name="Neighbourhood">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-building-o"></i></span>
                        <input class="w3-input" type="text" placeholder="Work Places" required name="Work">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-rupee"></i></span>
                        <input class="w3-input" type="text" placeholder="Area Min/Max" required name="Area">
                    </div>
                    <div class="input-group  w3-section">
                        <span class="input-group-addon w3-black"><i class="fa fa-user"></i></span>
                        <input class="w3-input" type="text" placeholder="Livable" required name="Livable">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- reguide Section -->
    <!--    <div class="w3-container w3-padding-32" id="reguide">
        </div>-->

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact Us</h3>
        <p>Lets get in touch and talk about your and our next project.</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input" type="text" placeholder="Name" required name="Name">
            <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
            <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
            <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- News -->
<div class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <strong>Copyright &COPY; 2016, All Rights Reserved <a href="http://www.vsquaresystem.com/"> Safe Deals</a></strong>
</footer>
