<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveLandmark(editableLandmark)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-landmark-o" aria-hidden="true"></i>
                        Landmark Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Landmark Name</label>
                                <input class="form-control" placeholder="Project Name" ng-model="editableLandmark.name" required=""/>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control"
                                       placeholder="Enter City"
                                       uib-typeahead="city.id as city.name for city in searchCities($viewValue)"
                                       typeahead-on-select="setCity($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingCities" 
                                       typeahead-no-results="noCitiesFound" 
                                       ng-model="editableLandmark.city.name" required=""/>
                                <p ng-show="noCitiesFound" class="help-block text-muted">No Cities found</p>
                                <p ng-show="loadingCities" class="help-block text-muted">loading...</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Location</label>                                                    
                                <input class="form-control"
                                       placeholder="Enter Location"
                                       uib-typeahead="location.id as location.name for location in searchLocations($viewValue)"
                                       typeahead-on-select="setLocation($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingLocations" 
                                       typeahead-no-results="noLocationsFound"   
                                       ng-disabled="!editableLandmark.cityId"
                                       ng-model="editableLandmark.location.name" required=""/>
                                <p ng-show="noLocationsFound" class="help-block text-muted">No Locations found</p>
                                <p ng-show="loadingLocations" class="help-block text-muted">loading...</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Latitude</label>
                                <input class="form-control" type="number" step ="any" ng-model="editableLandmark.latitude" required=""/>
                            </div>                                            
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Longitude</label>
                                <input class="form-control" type="number" step="any" ng-model="editableLandmark.longitude" required=""/>
                            </div>
                        </div>                                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
