<div class="intro">
    <div class="row">
        <div data-ui-view="" class="col-md-9"></div>
        <div class="col-md-3 col-sm-6 guidelines-content">
            <div class=" thumbnail thumbnail-border panel-body">
                <div class="row form-group" ng-repeat="video in videos">
                    <div class="image col-sm-5">
                        <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                            <img ng-src="{{video.thumbnailImgSrc}}" width="115" height="90"/>
                        </a>
                    </div>
                    <div class="side col-sm-7">
                        <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                            <strong>{{video.name}}</strong>
                        </a>
                        <p>
                            <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                                <small>{{video.description}}</small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>