<div class="row margin">
    <div data-ui-view=""></div>
</div>
<div class="locations">
    <div class="intro">
        <div class="row margin">
            <div class="thumbnail thumbnail-border panel-body">
                <div class="guidelines">
                    <div>
                        <h2> Guidelines!</h2>
                    </div>

                    <div>
                        <p>When you are thinking of investing your hard earned money, you should have clear idea of how to choose the best option, which is safe and worth.
                            As a real estate professional we give you a brief idea of why, where and how to buy the best property to cherish overall success.
                            To achieve overall success you need to follow professional guidelines in a chronological order.</p>
                        <h3>Let me try to put it up simple and straight!</h3>
                    </div>
                    <hr class="custom_hr">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <h4>Define your requirement.</h4>
                                <p><i class="fa fa-caret-right fa-fw"></i> First of all you must be clear about your requirements like; purpose of purchase, budget, loan eligibility, type of property with a ready list of must have amenities etc.</p>
                                <p><i class="fa fa-caret-right fa-fw"></i> Say you need a 2BHK Apartment of minimum size 1000 Sq Ft with A class construction specification and preferably in an integrated township at your priority location XYZ and your budget is 20 Lac.  </p>
                            </div>
                            <div class="">
                                <h4>Know your Budget.</h4>
                                <p><i class="fa fa-caret-right fa-fw"></i>You must know before hand, about the source of funding, like; ready cash, loan eligibility and your capacity to pay EMI. While deciding your budget you must take into consideration about planned expenditure and emergency funds.</p>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" data-ui-sref="main.guidelines">Calculate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="custom_hr">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Select suitable location.</h4>
                            <p><i class="fa fa-caret-right fa-fw"></i>After knowing your budget you need to make priority list of suitable location where you can find the property matching your budget. Choose suitable location based on availability of basic needs, connectivity, safe environment and sustained demand potential supported by nearby work places to ensure good rental and fast appreciation.</p>

                            <div class="form-group">
                                <button type="button" class="btn btn-primary" data-ui-sref="main.location">Location</button>
                            </div>
                        </div>
                    </div>
                    <hr class="custom_hr">
                    <div class="">
                        <h4>Find options available.</h4>
                        <p><i class="fa fa-caret-right fa-fw"></i>Now, look for various options available in your chosen locations based on your budget, type & size of property, livable amenities, design, specification, occupancy and offered price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----old code---->
<!--<div class="intro">
    <div class="row">
        <div data-ui-view="" class="col-md-9"></div>
        <div class="col-md-3 col-sm-6 guidelines-content">
            <div class=" thumbnail thumbnail-border panel-body">
                <div class="row form-group" ng-repeat="video in videos">
                    <div class="image col-sm-5">
                        <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                            <img ng-src="{{video.thumbnailImgSrc}}" width="115" height="90"/>
                        </a>
                    </div>
                    <div class="side col-sm-7">
                        <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                            <strong>{{video.name}}</strong>
                        </a>
                        <p>
                            <a href="#" data-ui-sref="main.intro.intro_content({ videoId: video.id })">
                                <small>{{video.description}}</small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->