<div>
    <div id="mapContainer"  class="col-md-9" style="height:500px;">
    </div>
    <div class="col-md-3">
        <div ng-repeat="property in properties" class="row form-group">
            <div class="image col-sm-5">
                <a href="#">
                    <img src="images/5.jpg" width="95" height="80"/>
                </a></div>
            <div class="name col-sm-7">
                <strong>{{property.name}}</strong>
                <p><small>{{property.description}}</small></p>
            </div>
        </div>
    </div>
</div>
