<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveUnit(editableUnit)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Unit Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Name</label>
                                <input class="form-control" placeholder=" name" ng-model="editableUnit.name"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Abbreviation</label>
                                <input class="form-control" placeholder="Abbreviation" ng-model="editableUnit.abbreviation"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableUnit.repeatName">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

