<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-lg">        
        <div class="modal-content overflow">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-11 col-xs-10">
                        <h3 class="modal-title">
                            <i class="fa fa-globe text-primary"></i>
                            Compare Properties
                        </h3>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <button class="btn btn-link" onclick="window.history.back()">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th ng-repeat="property in finalCompareArray">{{property.name}}</th>
                        </tr>                            
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-users"></i>&nbsp <b>Location</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.location.name}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file-text"></i>&nbsp<b> Property Type</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.propertyType}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-tint"></i>&nbsp <b>Size</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.size}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-road"></i>&nbsp <b>Building Construction Date</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.buildingAge}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker "></i>&nbsp <b>Floors</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.totalFloors}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bus "></i>&nbsp <b>Entry Facing</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.entryFacing}}</td>
                        </tr>                        
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Project</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.project.name}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-down "></i>&nbsp <b>Major Approach Road</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.majorApproachRoadObject.name}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Public Transport</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="publicTransportObject in property.publicTransportDisplay">
                                        {{publicTransportObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Offered Price</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.offeredPrice}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Workplaces</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="workplaceObject in property.workplacesDisplay">
                                        {{workplaceObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Projects Nearby</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="projectsNearbyObject in property.projectsNearbyDisplay">
                                        {{projectsNearbyObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Basic Amenities</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="basicAmenitiesObject in property.basicAmenitiesDisplay">
                                        {{basicAmenitiesObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Luxury Amenities</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="luxuryAmenitiesObject in property.luxuryAmenitiesDisplay">
                                        {{luxuryAmenitiesObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Approved Banks</b></td>
                            <td ng-repeat="property in finalCompareArray"> 
                                <ul>
                                    <li ng-repeat="approvedBanksObject in property.approvedBanksDisplay">
                                        {{approvedBanksObject.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Salable Area</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.salableArea}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Carpet Area</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.carpetArea}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>BuildUp Area</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.buildUpArea}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Balcony Count</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.balconyCount}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Open Terrace</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.openTerrace}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thumbs-up "></i>&nbsp <b>Open Land</b></td>
                            <td ng-repeat="property in finalCompareArray">{{property.openLand}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>


