<div class="thumbnail">	
    <div class="row">
        <div class="col-md-10">
            <h3 class="modal-title">
                {{property.name}}
            </h3>
        </div>
        <div class="col-md-2">
            <button type="button"
                    onclick="window.history.back()"
                    class=" pull-right btn btn-link">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">   
        <div class="row form-group">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="image in images" index="$index">
                    <img ng-src="./rest/image/{{image.id}}/attachment" style="width:100%; height: 500px; margin: auto" class="img-responsive"/>
                    <!--                <div class="carousel-caption">
                                        <h4>Slide {{$index + 1}}</h4>
                                    </div>-->
                </uib-slide>
            </uib-carousel>
        </div>
        <div class="row form-group">
            <div class="col-md-6 col-md-offset-6">
                <iframe class="video" ng-src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="">
            <div class="row">
                <ul class="nav nav-tabs" id="location_tabs">
                    <li ng-repeat="propertyStep in propertySteps" ng-class="{
                                active: $index == getCurrentStepIndex()
                            }">
                        <a ng-click="getPropertyStep(propertyStep)" href="">{{propertyStep}}</a>
                    </li>
                </ul>
            </div>
            <div  ng-switch on="selection" class="locations"> 
                <!--                    <div ng-show="myValue">-->
                <div ng-show="myValue">
                    <div class="row">
                        <nav class="">
                            <ul class="nav">
                                <li ng-repeat="amenityCode in amenityCodes" ng-click="toggle()">
                                    <a ng-click="getAmenityByAmenityCode(amenityCode)" href="" class="pull-left black_color">{{amenityCode.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div ng-show="amenities">
                        <nav class="navbar sub_locations locations_nav">
                            <ul id={{amenityCode.id}} class="nav">
                                <li ng-repeat="amenity in amenitiesList">
                                    <a ng-click="getAmenityDetailByAmenity(amenity)" href=""class="black_color"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp; {{amenity.name}}</a>
                                    <hr class="custom_hr">
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">   
                        <div id="propertyDetailMapContainer" style="height: 400px;"></div>    
                    </div>
                </div>
                <div ng-switch-when="Work Places" class="locations">
                    <div ng-show="myWorkplaces">
                        <div class="row">
                            <nav class="">
                                <ul class="nav">
                                    <li ng-repeat="workplace in workplaces" ng-click="toggle()">
                                        <a ng-click="getWorkplaceByAmenityCode(workplace)" href="" class="pull-left black_color">{{workplace.name}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div ng-show="amenities">
                            <nav class="navbar sub_locations locations_nav">
                                <ul id={{amenityCode.id}} class="nav">
                                    <li ng-repeat="amenityWorkplace in amenitiesWorkplaceList">
                                        <a ng-click="getAmenityDetailByAmenityWorkplaces(amenityWorkplace)" href="" class="black_color"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp; {{amenityWorkplace.name}}</a>
                                        <hr class="custom_hr">
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="row">    
                            <div id="propertyDetailMapContainerWorkplaces" style="height: 400px;"></div>    
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Projects" class="locations">
                    <div ng-show="myProjects">
                        <div class="col-md-offset-4">
                            <nav class="navbar locations_nav">
                                <ul class="nav">
                                    <li ng-repeat="project in projects" ng-click="toggle()">
                                        <a ng-click="getAmenityByAmenityCode(project)" href="" class="pull-left">{{project.name}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--                            <div ng-show="amenities">
                                                        <nav class="navbar locations_nav">
                                                            <ul id={{amenityCode.id}} class="nav">
                                                                <li ng-repeat="amenity in amenitiesList">
                                                                    <a ng-click="getAmenityDetailByAmenity(amenity)" href="" class="pull-left" style="color: #000"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;{{amenity.name}}</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>-->
                        <div class="row">    
                            <div id="propertyDetailMapContainerProjects" style="height: 400px;"></div>    
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Properties" class="locations">
                    <div ng-show="myProperties">
                        <div class="col-md-offset-4">
                            <nav class="navbar locations_nav">
                                <ul class="nav">
                                    <li ng-repeat="property in properties" ng-click="toggle()">
                                        <a ng-click="getAmenityByAmenityCode(property)" href="" class="pull-left">{{property.name}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--                            <div ng-show="amenities">
                                                        <nav class="navbar locations_nav">
                                                            <ul id={{amenityCode.id}} class="nav">
                                                                <li ng-repeat="amenity in amenitiesList">
                                                                    <a ng-click="getAmenityDetailByAmenity(amenity)" href="" class="pull-left" style="color: #000"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;{{amenity.name}}</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>-->
                        <div class="row">    
                            <div id="locationDetailMapContainerProperties" style="height: 400px;"></div>    
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Overview">
                    <div>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td><label>Property Name : </label></td>
                                    <td> {{ property.name}}</td>
                                </tr>
                                <tr>
                                    <td><label>City :</label></td>
                                    <td> {{ property.city.name}}</td>
                                </tr>
                                <tr>
                                    <td><label>Location :</label></td>
                                    <td> {{ property.location.name}}</td>
                                </tr>
                                <tr>
                                    <td><label>Major Approach Road : </label></td>
                                    <td> {{ property.road.name}}</td>
                                </tr>

                                <tr>
                                    <td><label>Type Of Property : </label></td>
                                    <td> {{ property.propertyType}}</td>
                                </tr>
                                <tr>
                                    <td><label>Property Size : </label></td>
                                    <td> {{ property.propertySize}}</td>
                                </tr>
                                <tr>
                                    <td><label>Size : </label></td>
                                    <td> {{ property.size}}</td>
                                </tr>
                                <tr>
                                    <td><label>Price Range : </label></td>
                                    <td> {{ property.priceRange}}</td>
                                </tr>
                                <tr>
                                    <td><label>Building Age : </label></td>
                                    <td> {{ property.buildingAge}}</td>
                                </tr><tr>
                                    <td><label>Total Floors : </label></td>
                                    <td> {{ property.totalFloors}}</td>
                                </tr>
                                <tr>
                                    <td><label>Entry Facing : </label></td>
                                    <td> {{ property.entryFacing}}</td>
                                </tr>
                                <tr>
                                    <td><label>Building Condition : </label></td>
                                    <td> {{ property.buildingCondition}}</td>
                                </tr>
                                <tr>
                                    <td><label>Project Name : </label></td>
                                    <td> {{ property.project.name}}</td>
                                </tr>
                                <tr>
                                    <td><label>Public Transport : </label></td>
                                    <td>
                                        <ul class="overview_list">
                                            <li ng-repeat="publicTransportObject in property.publicTransportObjects">{{publicTransportObject.name}}</li>
                                        </ul>              
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Offered Price : </label></td>
                                    <td> {{ property.offeredPrice}}</td>
                                </tr>
                                <tr>
                                    <td><label>Discount : </label></td>
                                    <td> {{ property.discount}}</td>
                                </tr>
                                <tr>
                                    <td><label>Offer Valid Till : </label></td>
                                    <td> {{ property.offerValidTill}}</td>
                                </tr>
                                <tr>
                                    <td><label>Payment Schedule : </label></td>
                                    <td> {{ property.paymentSchedule}}</td>
                                </tr>
                                <tr>
                                    <td><label>Workplace : </label></td>
                                    <td> 
                                        <ul class="overview_list">
                                            <li ng-repeat="workplacesObject in property.workplacesObjects">{{workplacesObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>projects Nearby : </label></td>
                                    <td>
                                        <ul class="overview_list">
                                            <li ng-repeat="projectsNearbyObject in property.projectsNearbyObjects">{{projectsNearbyObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Basic Amenities : </label></td>
                                    <td> 
                                        <ul class="overview_list">
                                            <li ng-repeat="basicAmenitiesObject in property.basicAmenitiesObjects">{{basicAmenitiesObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Luxury Amenities : </label></td>
                                    <td>  
                                        <ul class="overview_list">
                                            <li ng-repeat="luxuryAmenitiesObject in property.luxuryAmenitiesObjects">{{luxuryAmenitiesObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Approved Banks : </label></td>
                                    <td>  
                                        <ul class="overview_list">
                                            <li ng-repeat="approvedBanksObject in property.approvedBanksObjects">{{approvedBanksObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Amenities within Properties : </label></td>
                                    <td>
                                        <ul class="overview_list">
                                            <li ng-repeat="privateAmenitiesObject in property.privateAmenitiesObjects">{{privateAmenitiesObject.name}}</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label>SD Verified : </label></td>
                                    <td><span ng-if="property.sdVerified === true">Yes</span>
                                        <span ng-if="property.sdVerified === false">No</span></td>
                                </tr>
                                <tr>
                                    <td><label>Carpet Area : </label></td>
                                    <td> {{ property.carpetArea}}</td>
                                </tr>
                                <tr>
                                    <td><label>Salable Area : </label></td>
                                    <td> {{ property.salableArea}}</td>
                                </tr>
                                <tr>
                                    <td><label>Build Up Area : </label></td>
                                    <td> {{ property.buildUpArea}}</td>
                                </tr>
                                <tr>
                                    <td><label>Total Balcony :</label></td>
                                    <td> {{ property.balconyCount}}</td>
                                </tr>
                                <tr>
                                    <td><label>Total Toilet :</label></td>
                                    <td>      
                                        {{ property.toiletCount}} 
                                    </td>
                                </tr>

                                <tr>
                                    <td><label>Open Terrace : </label></td>
                                    <td><span ng-if="property.openTerrace === true">Yes</span>
                                        <span ng-if="property.openTerrace === false">No</span></td>
                                </tr>
                                <tr>
                                    <td><label>Open Land : </label></td>
                                    <td> <span ng-if="property.openLand === true">Yes</span>
                                        <span ng-if="property.openLand === false">No</span></td>
                                </tr>
                                <tr>
                                    <td><label>Latitude : </label></td>
                                    <td> {{ property.latitude}}</td>
                                </tr>
                                <tr>
                                    <td><label>Longitude : </label></td>
                                    <td> {{ property.longitude}}</td>
                                </tr>

                            </tbody>
                        </table>  
                    </div>
                </div>
                <div ng-switch-when="Price Trends">
                    <!--<h2>Dummy Text for Price Trends</h2>-->
                    <div class="row">
                        <!--                            <div fusioncharts width="600" height="400" type="column2d" dataSource="">
                                                    </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--image gallery-->
<!--        <div class="" ng-hide="galleryModal">
            <div class="modal modal-safedeals">
                <div class="modal-backdrop fade in">
                    <button type="button" class="pull-right btn btn-link" ng-click="closeLightboxModal()">
                        <i style="color: #778899" class="fa fa-times fa-2x"></i>
                    </button>
                </div>
                <div class="modal-dialog">
                    <uib-carousel  active="active">
                        <uib-slide ng-repeat="image in arrayImage" index="$index">
                            <img ng-src="./rest/image/{{image}}/attachment" width="600px" style="height: 500px;" class="admin"/>
                            <div class="carousel-caption">
                                <h4>Slide {{$index + 1}}</h4>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gallery gallery1">
                <div ng-repeat="image in images">
                    <div class="col-md-2 col-sm-2 padding">
                        <div class="thumbnail" id="thumbnail">
                            <a ng-click="openLightboxModal(image)">
                                <img ng-src="./rest/image/{{image.id}}/attachment" width="380" class="img-responsive" style="height: 115px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
<!--image gallery-->

<!--<div class="pull-right">
    <button type="button" class="btn btn-link btn-sm" data-ui-sref="main.help">Generate Report</button>
</div>
<div class="intro">
    <h2>Projects And Properties</h2>   
    <div class="col-md-12 col-sm-12">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Property Type
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> Flat:</label>
                                            <ul style="list-style-type:none">
                                                <li><input type="checkbox"/> 1BHK</li>
                                                <li><input type="checkbox"/> 2BHK</li>
                                                <li><input type="checkbox"/> 3BHK</li>
                                                <li><input type="checkbox"/> 4BHK</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> House:</label>
                                            <ul style="list-style-type:none">
                                                <li><input type="checkbox"/> Bungalow</li>
                                                <li><input type="checkbox"/> Pent House</li>
                                                <li><input type="checkbox"/> Farm House</li>
                                                <li><input type="checkbox"/> Duplex</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Plot & House:</label>
                                            <ul style="list-style-type:none">
                                                <li><input type="checkbox"/> Only Plot</li>
                                                <li><input type="checkbox"/> Plot + Constructed Home</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div><label class="col-sm-3 label-text">Budget: </label></div>
                <div class="col-sm-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Property Type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-1">
                                           
                                                
                                                <ul style="list-style-type:none">
                                                    <li><input style="width: 50px" type="number"/> Min</li>
                                                    <li>
                                                        <ul style="list-style-type:none"  ng-repeat="slab in slabs" ng-class="{active: $index == getCurrentStepIndex()}">
                                                            <li>  <a href="" ng-click="getMinSlabValue(slab)">{{slab}}</a> </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                          
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-1">
                                           
                                                
                                                <ul style="list-style-type:none">
                                                    <li><input  style="width: 50px" type="number"/> Max</li>
                                                   
                                                </ul>
                                          
                                        </div>
                                       
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div><label class="col-sm-3 label-text">Location: </label></div>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>Isasani</option>
                        <option>Ramdespeth</option>
                        <option>Dhantoli</option>
                        <option>Khamla</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2"> 
                <div class=" col-sm-6">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="padding-right: 0">
                <nav class="navbar">
                    <ul class="nav nav-pills nav-stacked navbar-default"  style="height: 500px;">
                                                <li data-ui-sref-active="active"><a data-ui-sref="main.property.property_map_container">Properties</a></li>                                            
                                                <li data-ui-sref-active="active"><a data-ui-sref="main.property.project_map_container">Projects</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="main.property.school_map_container">Schools</a></li>                                            
                        <li data-ui-sref-active="active"><a data-ui-sref="main.property.atm_map_container">Bank/Atm's</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="main.property.hospital_map_container">Hospitals</a></li>
                        <li data-ui-sref-active="active"><a href="#">Bus Stop</a></li>
                        <li data-ui-sref-active="active"><a href="#">Shopping Mall's</a></li>
                        <li data-ui-sref-active="active"><a href="#">Worship Place</a></li>
                    </ul>
                </nav>
            </div>
            <div data-ui-view="" class="col-sm-10" style="padding-left: 0">
            </div>
        </div>
    </div>
</div>


-->
<!--<div class="col-md-offset-3">
    <img src="images/COMING-SOON 2.png" width="680" height="390" class="img-responsive"/>
</div>-->
