<!--<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveVideo(editableVideo)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-bank"></i>
                        Video Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">               
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Image Url</label>
                                <div class="alert alert-info" ng-if="uploadInProgress">
                                    Attachment upload is in progress...
                                </div>
                                <div class="alert alert-danger" ng-if="uploadFailed">
                                    Attachment upload failed
                                </div>
                                <div ng-hide="showDetails === 'false'">

                                    <input type="file" uploader="photoUploader" nv-file-select="">
                                </div>	
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label ng-hide="showDetails === 'false'">Add Video</label>
                                <div class="alert alert-info" ng-if="uploadInProgress">
                                    Attachment upload is in progress...
                                </div>
                                <div class="alert alert-danger" ng-if="uploadFailed">
                                    Attachment upload failed
                                </div>
                                <div ng-hide="showDetails === 'false'">

                                    <input type="file" uploader="videoUploader" nv-file-select="">
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>-->
