<header class="navbar-fixed-top">
    <nav class="navbar navbar-default" id="navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="" href="#">
                    <img alt="Brand" src="images/safedeals.png" class="logo img-responsive" width="245" height="80" data-ui-sref="main.intro.intro_tagline">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                   <li data-ui-sref-active="active">
                        <a ng-click="gotoTop()" class="hidden-xs" data-ui-sref="main.intro.intro_content({ videoId: introVideo.id })"><strong>What we offer</strong></a>
                        <a ng-click="gotoTop()" class="visible-xs" data-toggle="collapse" data-target="#myNavbar" data-ui-sref="main.intro.intro_content({ videoId: introVideo.id })"><strong>What we offer</strong></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a ng-click="gotoTop()" class="hidden-xs" data-ui-sref="main.guidelines"><strong>Know your requirement</strong></a>
                        <a ng-click="gotoTop()" class="visible-xs" data-toggle="collapse" data-target="#myNavbar" data-ui-sref="main.guidelines"><strong>Know your requirement</strong></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a ng-click="gotoTop()" class="hidden-xs" data-ui-sref="main.location"><strong>Find suitable location</strong></a>
                        <a ng-click="gotoTop()" class="visible-xs" data-toggle="collapse" data-target="#myNavbar" data-ui-sref="main.location"><strong>Find suitable location</strong></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a ng-click="gotoTop()" class="hidden-xs" data-ui-sref="main.property.property_map_container"><strong>Find suitable property</strong></a>
                        <a ng-click="gotoTop()" class="visible-xs" data-toggle="collapse" data-target="#myNavbar" data-ui-sref="main.property.property_map_container"><strong>Find suitable property</strong></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a ng-click="gotoTop()" class="hidden-xs" data-ui-sref="main.final"><strong>Finalizing of deal</strong></a>
                        <a ng-click="gotoTop()" class="visible-xs" data-toggle="collapse" data-target="#myNavbar" data-ui-sref="main.final"><strong>Finalizing of deal</strong></a>
                    </li>            
                </ul>
            </div>
        </div>
    </nav>
</header><!--<End:header-->
<div class="wrapper">
    <div data-ui-view style="margin-top: 125px;"></div>
</div>

<footer id="footer">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6">
                <label></label>
                <div>
                    <ul class="list col-sm-4">                
                        <li data-ui-sref-active="active" ><a data-ui-sref="corporate_site.home"><b>Home</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.about_us"><b>About Us</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.services"><b>Services</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.events"><b>Events</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.sdnetwork"><b>SD Networks</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.career"><b>Career</b></a></li>
                        <li data-ui-sref-active="active" ><a ng-click="gotoTop()" data-ui-sref="corporate_site.contact"><b>Contact Us</b> </a></li>
                    </ul>
                    <ul class="list col-sm-8">                
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.intro.intro_content({ videoId: introVideo.id })"><b>What we offer</b></a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.guidelines"><b>Know your requirement</b></a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.location"><b>Find suitable location</b></a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.property.property_map_container"><b>Find suitable property</b></a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.final"><b>Finalizing of deal</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 btm-margin pull-right ">
                <h4><b>CONTACT US</b></h4>
                <div class="">
                    <strong>Safe Deals Real Estate Private Limited</strong>
                    <p> 
                        Corporate Office:
                        301, Royal Rudra, 
                        Plot No. 7, Neelkamal Gruh Nirman Sah. Sanstha, Nagpur layout, 
                        Hingna Road, Nagpur
                    </p>
                    <p>
                        Phone: <span>0712 22334455</span>, <span>+91 88888 43880</span>
                    </p>
                    <p>
                        Email: <a href="mailto:kunalgadhia@gmail.com?subject=Safedeals Enquiry%20">
                            <u>query@read16.com</u>
                        </a>
                    </p>
                    <div class="">
                        <ul class="list-inline">
                            <li>
                                <a href="" title="Facebook" class="">
                                    <span class="fa fa-facebook-square fa-2x">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Twitter" class="">
                                    <span class="fa fa-twitter-square fa-2x">&nbsp;</span>
                                </a> 
                            </li>
                            <li>
                                <a href="" title="Gmail" class="">
                                    <span class="fa fa-envelope-o fa-2x">&nbsp;</span>
                                </a> 
                            </li>
                            <li>
                                <a href="" title="YouTube" class="">
                                    <span class="fa fa-youtube-square fa-2x">&nbsp;</span>
                                </a> 
                            </li>
                            <li>
                                <a href="" title="Linkedin" class="">
                                    <span class="fa fa-linkedin-square fa-2x">&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="text-center">
                <strong>Copyright &COPY; 2016, All Rights Reserved Safe Deals</strong>
            </div>
        </div>
    </div>
</footer>