<header class="navbar-fixed-top top-bar">
    <nav class="navbar navbar-default navbar-static-top navbar-lower">
        <div class="navbar-header">
            <a class="" href="#">
                <img alt="Brand" src="images/safedeals.png" class="img-responsive" width="245" height="80" data-ui-sref="corporate_site.home">
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle nav_button" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar button_icon"></span>
                    <span class="icon-bar button_icon"></span>
                    <span class="icon-bar button_icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <ul class="nav navbar-nav"> 
                    <ul class="checkout-bar nav navbar-nav">
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.intro.intro_content({ videoId: introVideo.id })">What we offer</a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.guidelines">Know your requirement</a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.location"> Find suitable location</a></li>
                        <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.property.property_map_container">Find suitable property</a></li>
                        <li id="lastTab" data-ui-sref-active="active"><a class="step" data-ui-sref="main.final">Finalizing of deal</a></li>
                    </ul>                        
                </ul>
            </div>
        </div>
    </nav>
</header><!--<End:header-->
<div class="wrapper">
    <div data-ui-view class=""></div>
</div>
<div>
    <footer class="text-center clearfix container">
        <div class="">
            <hr class="ft-hr">
            <p>
                <strong>Copyright &COPY; 2015 <a href="http://www.vsquaresystem.com/"> www.vsquaresystem.com</a></strong>
            </p>
        </div>
    </footer>
</div>
