<header class="navbar-fixed-top navbar-inverse top-bar">
    <div class="container-fluid">
        <div class="">
            <!--            <div class="row">
                            <ul class="pull-right list">
                                <li class="">
                                    <a class="page-scroll" data-ui-sref="main.help">Help</a> 
                                </li>
                                <li class="">
                                    <a class="page-scroll" data-ui-sref="main.faqs">FAQ'S</a> 
                                </li>
                                <li class="">
                                    <a class="page-scroll" data-ui-sref="main.thanku">Contact Us</a>
                                </li>
                            </ul>
                        </div>-->
            <!--<div class="row">-->
            <nav class="navbar">
                <div class="navbar-header">                        
                    <a data-ui-sref="main.intro.intro_tagline">
                        <img src="images/safedeals.png" width="170" height="80" class="pull-left">
                    </a>
                </div>
                <div class="checkout-wrap collapse navbar-collapse pull-right" id="nav">
                    <div class="text-center">
                        <ul class="checkout-bar nav navbar-nav">
                            <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.intro.intro_content({ videoId: introVideo.id })">What we offer</a></li>
                            <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.guidelines">Know your requirement</a></li>
                            <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.location"> Find suitable location</a></li>
                            <li data-ui-sref-active="active"><a class="step" data-ui-sref="main.property.property_map_container">Find suitable property</a></li>
                            <li id="lastTab" data-ui-sref-active="active"><a class="step" data-ui-sref="main.final">Finalizing of deal</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--</div>-->
        </div>
    </div>
</header><!--<End:header-->
<div class="wrapper">
    <div data-ui-view class=""></div>
</div>
<div>
    <footer class="text-center clearfix container">
        <div class="">
            <hr class="ft-hr">
            <p>
                <strong>Copyright &COPY; 2015 <a href="http://www.vsquaresystem.com/"> www.vsquaresystem.com</a></strong>
            </p>
        </div>
    </footer>
</div>
