<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>            
            <a href="#portal" class="navbar-brand w3-bar-item w3-button"><b>Safe</b> Deals</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/#about" class="w3-bar-item w3-button">About Us</a>
                </li>
                <li>
                    <a href="#/#products" class="w3-bar-item w3-button">Products</a>
                </li>
                <li>
                    <a href="#/#projects" class="w3-bar-item w3-button">Approved Projects</a>
                </li>
                <li>
                    <a href="#/#search" class="w3-bar-item w3-button">Search</a>
                </li>
                <li>
                    <a href="#/#contact" class="w3-bar-item w3-button">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel-body">
    <div class="col-md-6 thumbnail">
        <a target="_blank" data-ui-sref="portal_bank">
            <h1>Bank Portal</h1>
        </a>
    </div>
    <div class="col-md-6 thumbnail">
        <a target="_blank" data-ui-sref="portal_businessassociate">
            <h1 data-ui-sref="">Bank Associate Portal</h1>
        </a>
    </div>
    <div class="col-md-6 thumbnail">
        <a target="_blank" data-ui-sref="portal_builderanddeveloper">
            <h1 data-ui-sref="">Builder and Developer Portal</h1>
        </a>
    </div>
    <div class="col-md-6 thumbnail">
        <a target="_blank" data-ui-sref="portal_franchise">
            <h1 data-ui-sref="">Franchise Portal</h1>
        </a>
    </div>
</div>

<!-- Footer -->
<footer style="margin-top: 346px;" class="w3-center footer w3-padding-16">
    <strong>Copyright &COPY; 2016, All Rights Reserved <a href="http://www.vsquaresystem.com/"> Safe Deals</a></strong>
</footer>

<!--OLD CODE-->

<!--<nav class="form-group">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-header">
                    <a href="#"><img src="images/safedeals.png" width="125" height="80" class="pull-left"> </a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Join Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container form-group">
    <div id="menu" >
        <ul class="list-unstyled">
            <li class="pull-left" data-ui-sref="portal.my_profile"><a href="#">My Profile</a></li>
            <li class="pull-left"><a href="" data-ui-sref="portal.my_properties">My Properties</a></li>
            <li class="pull-left"><a href="#">My Projects</a></li>
            <li class="pull-left" data-ui-sref="portal.contct_us"><a href="#" class="last">Contact Us</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div data-ui-view class="col-md-12"></div>
    
</div>
<footer class="text-center clearfix container">
    <div class="">
        <hr class="ft-hr">
        <p>
            <strong>Copyright &COPY; 2016, All Rights Reserved <a href="http://www.vsquaresystem.com/"> Safe Deals</a></strong>
        </p>
    </div>
</footer>-->