<nav class="form-group">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-header">
                    <a href="#"><img src="images/safedeals.png" width="125" height="80" class="pull-left"> </a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Join Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container form-group">
    <div id="menu" >
        <ul class="list-unstyled">
            <li class="pull-left" data-ui-sref="portal.my_profile"><a href="#">My Profile</a></li>
            <li class="pull-left"><a href="" data-ui-sref="portal.my_properties">My Properties</a></li>
            <li class="pull-left"><a href="#">My Projects</a></li>
            <li class="pull-left" data-ui-sref="portal.contct_us"><a href="#" class="last">Contact Us</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div data-ui-view class="col-md-12"></div>
    
</div>
<footer class="text-center clearfix container">
    <div class="">
        <hr class="ft-hr">
        <p>
            <strong>Copyright &COPY; 2016, All Rights Reserved <a href="http://www.vsquaresystem.com/"> Safe Deals</a></strong>
        </p>
    </div>
</footer>