<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveEvent(editableEvent)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Event Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Event name" ng-model="editableEvent.name"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Event description" ng-model="editableEvent.description"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableEvent.repeatName">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Venue</label>
                                <input class="form-control" placeholder="Event Venue" ng-model="editableEvent.venue"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <!--NEW DATEPICKER-->
                                <label>Date</label>
                                <p class="form-inline">
                                <ng-combo-date-picker ng-model="editableEvent.date" ng-placeholder="Year,Month,Date" ng-attrs-date='{"class": "form-control"}' ng-attrs-month='{"class": "form-control"}' ng-attrs-year='{"class": "form-control"}'></ng-combo-date-picker>
                                </p>

                                <!--OLD DATEPICKER-->
                                <!--                                <label>Date</label>
                                                                                                <input class="form-control" placeholder="Event code" ng-model="editableEvent.date"/>
                                                                <p class="input-group">
                                                                    <input type="text" class="form-control" placeholder="DD MMM YYYY" uib-datepicker-popup="dd MMM yyyy" ng-model="editableEvent.date"
                                                                           popup-placement="bottom"   is-open="datePicker.opened" datepicker-options="dateOptions" close-text="Close" required>
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="datePicker.toggle()">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
