<div class="container-fluid">    
    <div class="row content_background">
        <div class="col-sm-8 col-md-8 left_padding">
            <h3>Mission</h3>
            <p class="bottom_border">
                Mission of Safe Deals Concept is to create an environment where Real Estate Market would adopt genuineness and transparency in the dealings and build livable, 
                marketable and profitable properties in order to deliver utmost satisfaction to THE BUYERS. 
                Sellers will also be equally guided to build livable, marketable and profitable properties. 
                Other operators of the business will be encouraged to follow only the ethical business practices.
            </p>

            <h3>Vision</h3>
            <p class="bottom_border">
                Vision of Safe Deals Concept is to establish our team as the most knowledgeable and trustworthy with ready to help approach.
                Safe Deals should be known for its ethical business practices and THE BUYERS FIRST approach. 
                Safe Deals to be known for its exclusive services to offer professional guidelines for THE BUYERS to buy safe, secure and worthy properties.
                Safe Deals to be known for deep insight to conduct relevant survey and put up the valuable findings in an easy to understand format. 
            </p>

            <h3>Motto</h3>
            <p class="bottom_border">
                The sole motto of Safe Deals is to work for the benefit of buyers.
                Safe Deals will offer unbiased genuine information for the buyers to take an informed decision to buy property.
                Safe Deals will help buyers to ensure safety of their money, 
                buy below market price and avail after sales services like rental and re-sale.
            </p>
        </div>
        <div class="col-sm-4 col-md-4 right_padding">
            <div class="img">
                <a target="_blank" data-ui-sref="main.intro.intro_tagline">
                    <img src="images/about-us-img1.jpg" title="Property Buying Guide" class="img-responsive img_opacity">
                </a>
                <div class="text">
                    <p><b>Property Buying Guide</b></p>
                </div>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.guidelines">
                    <img src="images/about-us-img2.jpg" title="Home Loan Guide" class="img-responsive img_opacity">
                </a>
                <div class="text">
                    <p><b>Home Loan Guide</b></p>
                </div>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.location">
                    <img src="images/about-us-img3.jpg" title="Property Selling Guide" class="img-responsive img_opacity">
                </a>
                <div class="text">
                    <p><b>Property Selling Guide</b></p>
                </div>
            </div>
            <div class="img">
                <a data-ui-sref="corporate_site.postQuery">
                    <img src="images/about-us-img4.jpg" title="Post Your Query" class="img-responsive img_opacity">
                </a>
                <div class="text">
                    <p style="color:#fff;"><b>Post Your Query</b></p>
                </div>
            </div>
            <!--            
                       
                        
            
                        <div style="background-color:#0397D7" class="text-center panel-body social-icon">          
                            <div class="col-md-2 col-md-ofset-1">        
                                <a href="#" title="Twitter" class="Twitter">
                                    <img src="images/icons_svg/twitter.svg" width="52" height="52"></a>
                            </div>
                            <div class="col-md-2">          
                                <a href="#" title="Youtube" class="Youtube">
                                    <img src="images/icons_svg/youtube.svg" width="52" height="52"></a>
                            </div>
                            <div class="col-md-2">          
                                <a href="#" title="Facebook" class="Facebook">
                                    <img src="images/icons_svg/fb.svg" width="52" height="52"></a>
                            </div>
                            <div class="col-md-2">          
                                <a href="#" title="Google" class="Google">
                                    <img src="images/icons_svg/gmail.svg" width="52" height="52"></a>
                            </div>
                            <div class="col-md-2">          
                                <a href="#" title="LinkedIn" class="LinkedIn">
                                    <img src="images/icons_svg/linkedin.svg" width="52" height="52"></a>
                            </div>
                        </div>-->

        </div>
    </div>
    <div class="row">
        <h2 class="text-center"><b>OUR TEAM</b></h2>
        <div class="col-md-6 padding team_1 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img5.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>JONH EDISON</b></h4>
                <h5>Founder</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
        <div class="col-md-6 padding team_3 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img6.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>ROBIN SHARMA</b></h4>
                <h5>Director</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
    </div>
    <div class="row">
        <div class="col-md-6 padding team_3 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img7.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>JONH EDISON</b></h4>
                <h5>Mentor</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
        <div class="col-md-6 padding team_4 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img8.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>ROBIN SHARMA</b></h4>
                <h5>IT Head</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
    </div>
</div>


<!-- old UI -->

<!--<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Mission</h2>
        <p class="content" ng-class="{ less: hidden }">
            Mission of Safe Deals Concept is to create an environment where Real Estate Market would adopt genuineness and transparency in the dealings and build livable, 
            marketable and profitable properties in order to deliver utmost satisfaction to THE BUYERS. 
            Sellers will also be equally guided to build livable, marketable and profitable properties. 
            Other operators of the business will be encouraged to follow only the ethical business practices.
       </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="hidden = !hidden">
                {{hidden ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Vision</h2>
        <p class="content" ng-class="{ less: IsVisible }">
            Vision of Safe Deals Concept is to establish our team as the most knowledgeable and trustworthy with ready to help approach.
           Safe Deals should be known for its ethical business practices and THE BUYERS FIRST approach. 
           Safe Deals to be known for its exclusive services to offer professional guidelines for THE BUYERS to buy safe, secure and worthy properties.
           Safe Deals to be known for deep insight to conduct relevant survey and put up the valuable findings in an easy to understand format. 
        </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="IsVisible = !IsVisible">
                {{IsVisible ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Motto</h2>
        <p class="content" ng-class="{ less: Toggle }">
            The sole motto of Safe Deals is to work for the benefit of buyers.
            Safe Deals will offer unbiased genuine information for the buyers to take an informed decision to buy property.
            Safe Deals will help buyers to ensure safety of their money, 
            buy below market price and avail after sales services like rental and re-sale.
        </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="Toggle = !Toggle">
                {{Toggle ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="thumbnail thumbnail-border row">
    <div class="co_site panel-body">
        <div class="row text-center btm-margin" >
            <h2> Our Team </h2>
        </div>
        <div class="row btm-margin">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" width="120" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Founder</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" width="120" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Director</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row btm-margin">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" alt="" width="120"/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Mentor</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" alt="" width="120"/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">IT Head</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->