<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Mission</h2>
        <p class="content" ng-class="{ less: hidden }">
            Mission of Safe Deals Concept is to create an environment where Real Estate Market would adopt genuineness and transparency in the dealings and build livable, 
            marketable and profitable properties in order to deliver utmost satisfaction to THE BUYERS. 
            Sellers will also be equally guided to build livable, marketable and profitable properties. 
            Other operators of the business will be encouraged to follow only the ethical business practices.
       </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="hidden = !hidden">
                {{hidden ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Vision</h2>
        <p class="content" ng-class="{ less: IsVisible }">
            Vision of Safe Deals Concept is to establish our team as the most knowledgeable and trustworthy with ready to help approach.
           Safe Deals should be known for its ethical business practices and THE BUYERS FIRST approach. 
           Safe Deals to be known for its exclusive services to offer professional guidelines for THE BUYERS to buy safe, secure and worthy properties.
           Safe Deals to be known for deep insight to conduct relevant survey and put up the valuable findings in an easy to understand format. 
        </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="IsVisible = !IsVisible">
                {{IsVisible ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h2 class="text-center">Motto</h2>
        <p class="content" ng-class="{ less: Toggle }">
            The sole motto of Safe Deals is to work for the benefit of buyers.
            Safe Deals will offer unbiased genuine information for the buyers to take an informed decision to buy property.
            Safe Deals will help buyers to ensure safety of their money, 
            buy below market price and avail after sales services like rental and re-sale.
        </p>
        <div class="pull-right">            
            <button class="btn btn-sm btn-primary" ng-click="Toggle = !Toggle">
                {{Toggle ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="thumbnail thumbnail-border row">
    <div class="co_site panel-body">
        <div class="row text-center btm-margin" >
            <h2> Our Team </h2>
        </div>
        <div class="row btm-margin">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" width="120" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Founder</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" width="120" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Director</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row btm-margin">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" alt="" width="120"/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">Mentor</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/user.png" alt="" width="120"/>
                    </div>
                    <div class="col-md-8">
                        <h4 class="h3">IT Head</h4>
                        <h5>Lorem ipsum</h5>
                        <p class="side">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. 
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec qu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>