<div class="container-fluid">    
    <div class="row content_background">
        <div class="col-sm-8 col-md-8 left_padding">
            <h3>Career Options</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3>Business Associate</h3>            
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3>Research Team</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
        </div>
        <div class="col-sm-4 col-md-4 right_padding">
            <div class="img">
                <a target="_blank" data-ui-sref="main.intro.intro_tagline">
                    <img src="images/about-us-img1.jpg" title="Property Buying Guide" class="img-responsive img_opacity">
                    <div class="text">
                        <p><b>Property Buying Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.guidelines">
                    <img src="images/about-us-img2.jpg" title="Home Loan Guide" class="img-responsive img_opacity">
                    <div class="text">
                        <p><b>Home Loan Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.location">
                    <img src="images/about-us-img3.jpg" title="Property Selling Guide" class="img-responsive img_opacity">
                    <div class="text">
                        <p><b>Property Selling Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a data-ui-sref="corporate_site.postQuery">
                    <img src="images/about-us-img4.jpg" title="Post Your Query" class="img-responsive img_opacity">
                    <div class="text">
                        <p style="color:#fff;"><b>Post Your Query</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center"><b>Testimonials</b></h2>
        <div class="col-md-6 padding team_1 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img5.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>JONH EDISON</b></h4>
                <h5>Founder</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
        <div class="col-md-6 padding team_3 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img6.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>ROBIN SHARMA</b></h4>
                <h5>Director</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
    </div>
    <div class="row">
        <div class="col-md-6 padding team_3 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img7.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>JONH EDISON</b></h4>
                <h5>Mentor</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
        <div class="col-md-6 padding team_4 team_content">
            <div class="col-sm-6 col-md-6 padding">
                <img src="images/img8.jpg" class="img-responsive">
            </div>    
            <div class="col-sm-6 col-md-6 panel-body">
                <h4><b>ROBIN SHARMA</b></h4>
                <h5>IT Head</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                </p>
            </div>    
        </div>    
    </div>
</div>

<!--OLD CODE-->
<!--<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center">Career Options</h3>
        <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center">Business Associate</h3>
        <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="col-md-offset-10"><a href="#" class="text-danger">Join us <i class="fa fa-angle-double-right"></i></a></div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center">Research Team</h3>
        <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="col-md-offset-10"><a href="#" class="text-danger">Apply now <i class="fa fa-angle-double-right"></i></a></div>
    </div>
</div>
<div class="thumbnail thumbnail-border row co_site">
    <div class="btm-margin text-center">
        <h2>Testimonials</h2>
    </div>
    <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
         Indicators 
        <ol class="carousel-indicators">
            <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
            <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
        </ol>
         Wrapper for slides 
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="img-responsive media-object" src="images/user1.jpg">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Kristiana</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Web Developer www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="img-responsive media-object" src="images/user2.jpg">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Williamson</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Web Developer www.example1.com</p>                                    
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="img-responsive media-object" src="images/user3.jpg">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Smith Thomas</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Associate www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> 
                                        This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="img-responsive media-object" src="images/user2.jpg">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>William</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Businessman www.example1.com </p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                         This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="images/user1.jpg"> </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Thomas</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Teacher www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12"><img class="img-responsive media-object" src="images/user3.jpg"> </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Shakespear</h3> 
                                    <p><i class="glyphicon glyphicon-globe"></i> Doctor www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        This is a testimonial window. Feedback of user can be displayed here.</p>
                                </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
         Controls 
        <a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
    <br />
</div>-->
