<div class="container-fluid">    
    <div class="row content_background">
        <div class="col-sm-8 col-md-8 left_padding">
            <h3 class="text-center">Corporate Office</h3>
            <div class="bottom_border">
                <div class="form-group">
                    <strong> Address –</strong> <span>301 Royal Rudra Apartment, Plot No. 7, Sant Gadge Nagar, Hingna Road, Nagpur – 440012
                    </span>
                </div>
                <div class="form-group">
                    <strong> Telephone –</strong> <span>0712 22334455</span>
                </div>
                <div class="form-group">
                    <strong> Mobile No. –</strong> <span>+91 88888 43880</span>
                </div>
                <div class="form-group">
                    <strong> Members Support –</strong> <span>301 Royal Rudra Apartment, Plot No. 7, Sant Gadge Nagar, Hingna Road, Nagpur – 440012
                    </span>
                </div>
                <div class="form-group">
                    <strong> Customer Query –</strong> query@read16.com <b>or</b> <span>+91 7755923368</span>
                </div>
            </div>

            <!-- Contact Us Form -->

            <form ng-submit="saveEnquiry(editableEnquiry)">
                <div>
                    <h3 class="text-center" style="margin-bottom: 30px;">
                        Contact Us
                    </h3>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Name" ng-model="editableEnquiry.name"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Email" ng-model="editableEnquiry.email"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="98XXXXXXX0" ng-model="editableEnquiry.mobileNo"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Subject"/>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit_btn">
                        <button class="btn btn-info">
                            Submit
                        </button>				
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-md-4 padding">
            <div class="img">
                <a target="_blank" data-ui-sref="main.intro.intro_tagline">
                    <img src="images/about-us-img1.jpg" title="Property Buying Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Property Buying Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.guidelines">
                    <img src="images/about-us-img2.jpg" title="Home Loan Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Home Loan Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.location">
                    <img src="images/about-us-img3.jpg" title="Property Selling Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Property Selling Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a data-ui-sref="corporate_site.postQuery">
                    <img src="images/about-us-img4.jpg" title="Post Your Query" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p style="color:#fff;"><b>Post Your Query</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--OLD CODE-->

<!--<div class="panel site row form-group">
    <div class="panel-heading">
        <h2 class="text-center">Corporate Office</h2>
    </div>
    <div class="panel-body col-md-offset-2">
        <div class="form-group">
            <strong> Address –</strong> <span>301 Royal Rudra Apartment, Plot No. 7, Sant Gadge Nagar, Hingna Road, Nagpur – 440012
            </span>
        </div>
        <div class="form-group">
            <strong> Telephone –</strong> <span>0712 22334455</span>
        </div>
        <div class="form-group">
            <strong> Mobile No. –</strong> <span>+91 88888 43880</span>
        </div>
        <div class="form-group">
            <strong> Members Support –</strong> <span>301 Royal Rudra Apartment, Plot No. 7, Sant Gadge Nagar, Hingna Road, Nagpur – 440012
            </span>
        </div>
        <div class="form-group">
            <strong> Customer Query –</strong> <a href="#">query@read16.com</a> or <span>+91 7755923368</span>
        </div>
        <img src="images/contactus.jpg" alt="Map" width="904" height="298">
    </div>
</div>-->
