<div class="container-fluid content_background">        
    <div class="row">
        <uib-carousel  active="active" interval="myInterval">
            <uib-slide ng-repeat="slide in slides" index="$index">
                <img ng-src="{{slide.image}}" style="margin:auto;" />
                <div class="carousel-caption">
                    <h4>Slide {{$index + 1}}</h4>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="row">
        <h2 class="text-center"><b>Upcoming Events</b></h2>
    </div>
    <div class="row">
        <div class="">
            <div ng-repeat="event in events">
                <div class="col-md-8 col-sm-8 col-md-offset-1">
                    <div class="" data-ui-sref="main.masters_account">
                        <div class="col-md-4">
                            <div ng-show="event.photoPath === null"><img src="/safe-deals/images/No_Image_Available.png" width="300" class="event_img team_img img-responsive" style="height: 250px"></div>
                            <div ng-show="event.photoPath !== null"><img ng-src="./rest/event/{{event.id}}/attachment" width="300" class="event_img team_img img-responsive" style="height: 250px"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="admin col-md-12">
                                <p> 
                                    <b class="col-md-3">EVENT NAME</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.name}} 
                                </p>
                                <p>
                                    <b class="col-md-3">DATE</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.date| date:"MMM d, y"}} 
                                </p>
                                <p> 
                                    <b class="col-md-3">VENUE</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.venue}} 
                                </p>
                                <p>
                                    <label class="col-md-3">DESCRIPTION</label>
                                    <b class="col-md-1">:</b>
                                    <span class="col-md-7 padding">{{event.description}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="col-md-3 col-sm-3">
                            <div class="thumbnail panel-primary" id="thumbnail" data-ui-sref="main.masters_account">
                                <img src="images/img7.jpg">
                                <div class="caption panel-footer panel-primary">
                                    event1
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="thumbnail panel-primary" id="thumbnail" data-ui-sref="main.masters_account">
                                <img src="images/img7.jpg">
                                <div class="caption panel-footer panel-primary">
                                    event1
                                </div>
                            </div>
                        </div>-->
        </div>
        
        <div ng-show="events.length === 0">
            <h3 class="text-center">No Upcoming Events</h3>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center"><b>Concluded Events</b></h2>
    </div>
    <div class="row">
        <div class="">
            <div ng-repeat="event in concludedEvents">
                <div class="col-md-8 col-sm-8 col-md-offset-1">
                    <div class="" data-ui-sref="main.masters_account">
                        <div class="col-md-4">
                            <img ng-src="./rest/event/{{event.id}}/attachment" width="300" class="event_img team_img img-responsive" style="height: 250px">
                        </div>
                        <div class="col-md-8">
                            <div class="admin col-md-12">
                                <p> 
                                    <b class="col-md-3">EVENT NAME</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.name}} 
                                </p>
                                <p>
                                    <b class="col-md-3">DATE</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.date| date:"MMM d, y"}} 
                                </p>
                                <p> 
                                    <b class="col-md-3">VENUE</b>
                                    <span class="col-sm-1"><b>:</b></span> 
                                    {{event.venue}} 
                                </p>
                                <p>
                                    <label class="col-md-3">DESCRIPTION</label>
                                    <b class="col-md-1">:</b>
                                    <span class="col-md-7 padding">{{event.description}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- old UI -->

<!--<div class="thumbnail thumbnail-border row">
    <div class="co_site panel-body">
        <div>
          <uib-carousel interval="myInterval" active="active">
            <uib-slide ng-repeat="slide in slides" index="$index">
              <img ng-src="{{slide.image}}" style="margin:auto;" />
              <div class="carousel-caption">
                <h4>Slide {{$index+1}}</h4>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
    </div>
</div>
<div class="thumbnail thumbnail-border row btm-margin">
    <div class="co_site">
        <div class="text-center panel-body">
            <h3>Event Calendar</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr class="active">
                        <th class="text-center">Date</th>
                        <th class="text-center">Venue</th>
                        <th class="text-center">Event Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                        <td class="text-center">{{event.date| date:"MMM d, y"}}</td>
                        <td class="text-center">{{event.venue}}</td>
                        <td class="text-center">{{event.description}}</td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

 old carousel 

        <div id='carousel-custom' class='carousel slide co-site' data-ride='carousel'>
                    <div class='carousel-outer'>
                         Wrapper for slides 
                        <div class='carousel-inner'>
                            <div class='item active carousel-ht'>
                                <iframe width="100%" height="100%" src="//www.youtube.com/embed/-w-58hQ9dLk?controls=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class='item carousel-ht'>
                                <iframe width="100%" height="100%" src="//www.youtube.com/embed/SEBLt6Kd9EY?controls=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class='item carousel-ht'>
                                <iframe width="100%" height="100%" src="//www.youtube.com/embed/IkTw7J-hGmg?controls=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class='item carousel-ht'>
                                <img src='images/Landscape.jpg' alt='' width="910"/>
                            </div>                   
                        </div>
                         Controls 
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>
                     Indicators 
                    <ol class='carousel-indicators mCustomScrollbar'>
                        <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                            <img src='images/Landscape.jpg' alt='' width="200" height="100" />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='1'>
                            <img src='images/Sydney.jpg' alt='' width="200" height="100" />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='2'>
                            <iframe width="200" height="100" src="//www.youtube.com/embed/-w-58hQ9dLk?controls=0" frameborder="0" allowfullscreen=""></iframe>
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='3'>
                            <img src='images/Landscape.jpg' alt='' width="200" height="100"/>
                        </li>
                    </ol>
                </div>-->