<div class="container-fluid content_background">    
    <div class="row content_background">
        <div class="col-sm-8 col-md-8 left_padding">
            <h3>For Buyers</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3>For Buyers</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3> For Agent</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3>For Builder</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <h3> For Bank</h3>
            <p class="bottom_border">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
        </div>
        <div class="col-sm-4 col-md-4 padding">
            <div class="img">
                <a target="_blank" data-ui-sref="main.intro.intro_tagline">
                    <img src="images/about-us-img1.jpg" title="Property Buying Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Property Buying Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.guidelines">
                    <img src="images/about-us-img2.jpg" title="Home Loan Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Home Loan Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a target="_blank" data-ui-sref="main.location">
                    <img src="images/about-us-img3.jpg" title="Property Selling Guide" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Property Selling Guide</b></p>
                    </div>
                </a>
            </div>
            <div class="img">
                <a data-ui-sref="corporate_site.postQuery">
                    <img src="images/about-us-img4.jpg" title="Post Your Query" class="img-responsive img_opacity img_width">
                    <div class="text">
                        <p><b>Post Your Query</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">            
        <div class="btm-margin text-center">
            <div class="quote">
                <i class="fa fa-quote-left fa-4x"></i>
                <h2><b>Testimonials</b></h2>
            </div>            
        </div>
        <div class="col-md-10 col-sm-12 btm-margin col-md-offset-1">
            <div id="testimonial">            
                <uib-carousel  active="active" interval="myInterval" hide-indicators="true">
                    <uib-slide ng-repeat="slide in slides" index="$index">
                        <div class="col-md-4 col-md-offset-1">
                            <img class="img-circle" width="250" height="300" ng-src="{{slide.image}}"/>
                        </div>
                        <div class="col-md-6">      
                            <figcaption class="caption">
                                <h3>{{slide.name}}</h3>       
                                <p><i class="glyphicon glyphicon-globe"></i> {{slide.designation}}</p>
                                <p><span class="glyphicon glyphicon-thumbs-up"></span> {{slide.text}}</p>
                            </figcaption>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
</div>

<!--OLD CODE-->
<!--<style>
    #slides_control > div{
        height: 200px;
    }
    img{
        margin:auto;
        width: 400px;
    }
    #slides_control {
        width: 400px;
        left:50%;
        top:20px;
        margin-left:-200px;
    }
</style>-->
<!--<div class="panel site row form-group">
    <div class="panel-body">
        <div class="">
            <h3 class="text-center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> For Buyers</h3>
            <p class="content" ng-class="{ less: IsVisible }">
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
        </div>
        <div class="pull-right">    
            <button class="btn btn-sm btn-primary" ng-click="IsVisible = !IsVisible">
                {{IsVisible ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center"><i class="fa fa-user" aria-hidden="true"></i> For Sellers</h3>
        <p  class="content" ng-class="{ less: Hide }">
            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="pull-right">         
            <button class="btn btn-sm btn-primary" ng-click="Hide = !Hide">
                {{Hide ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center"><i class="fa fa-users" aria-hidden="true"></i> For Agent</h3>
        <p class="content" ng-class="{ less: Toggle }">
            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="pull-right">          
            <button class="btn btn-sm btn-primary" ng-click="Toggle = !Toggle">
                {{Toggle ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center"><i class="fa fa-building" aria-hidden="true"></i> For Builder</h3>
        <p class="content" ng-class="{ less: hidden }">
            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="pull-right">           
            <button class="btn btn-sm btn-primary" ng-click="Hidden = !Hidden">
                {{Hidden ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>
<div class="panel site row form-group">
    <div class="panel-body">
        <h3 class="text-center"><i class="fa fa-university" aria-hidden="true"></i> For Bank</h3>
        <p class="content" ng-class="{ less: Content }">
            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>
        <div class="pull-right">           
            <button class="btn btn-sm btn-primary" ng-click="Content = !Content">
                {{Content ? 'Read more' : 'Read less'}}
            </button>
        </div>
    </div>
</div>--> 
<!--<div class="row">
    <div class="btm-margin text-center">
        <h2><b>Testimonials</b></h2>
    </div>
    <div id="slides_control">
        <carousel interval="myInterval" ng-repeat="testimonial in testimonials">
            <slide active="slide.active">
                <img ng-src="{{testimonial.attachment}}">
                <div class="carousel-caption">
                    <h4>Slide {{$index + 1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>
    <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
        Indicators 
                    <ol class="carousel-indicators">
                        <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
                        <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
                    </ol>
        Wrapper for slides 
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive media-object" src="images/user1.jpg">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Kristiana</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Web Developer www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                                        rhoncus ut,</p>
                                </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive media-object" src="images/user3.jpg">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Smith Thomas</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Associate www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> 
                                        dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                                        rhoncus ut, </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="clearfix">
                            <div class="col-md-4 col-sm-4 col-xs-12"><img class="img-responsive media-object" src="images/user1.jpg"> </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <figcaption class="caption">
                                    <h3>Thomas</h3>
                                    <p><i class="glyphicon glyphicon-globe"></i> Teacher www.example1.com</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>
                                        dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
                                        rhoncus ut, </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        Controls 
        <a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
    <br />
</div>-->
