#mainNav {
    /*    background-color: #4d79ff;
        border-color: #3366ff;*/
    min-height: 80px;
    background-color: white;


}/*
*/.checkout-bar > li > a {
    font-family : Arial;
    font-size: 18px;
    color: grey;
    border-radius: 10px;
    /*border: 1px solid #a1a1a1;*/    
}


/*padding*/
.padding{
    padding: 0px;
}
/*padding*/

/*image width*/
.img_width{
    width: 100%
}
/*image width*/


/*****navbar-default css****/

.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #135280; 
}

.upper_navbar_content{
    margin-top: 15px;
    padding-right: 10px
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    height: 290px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0098DA;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0098da;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #235d9e;
    font-size: 18px;
}

.navbar-default.nav-upper {
    height: 50px;
    color:#4386f9;
    background-color:#fff;
}
.navbar-default.navbar-lower {
    background-color:#fff;
}
.navbar-default.nav-upper ul {
    float: right;
    display: table;
}
.navbar-default.nav-upper .navbar-upper > li {
    display: table-cell;
    font-size: 16px;
    color: #000;
}
.navbar-default.nav-upper .navbar-upper > li > a {
    color: #000;
    background-color: transparent;
    padding: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    /*@media (min-width: 768px) {*/
    .navbar.navbar-lower .navbar-nav {
        margin-left: 100px;
    }
}
.navbar-logo { 
    /*    background-image: url('../images/safedeals.png');
        width: 90px;
        height: 90px;*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 1051;
}

/*************navbar-default css************/

/*************social-icon css************/
footer a, footer {
    color:#fff;
}

/*************social-icon css************/

/*************carousel-overlay css************/
.carousel-overlay{
    position: absolute;
    z-index: 10;
    top: 66%;
    height:26%;
    width: 60%;
    background-color: #fff;
    opacity: 0.4;
    font-size:52px;
    padding: 15px;}

/*************carousel-overlay css************/

.img_opacity{
    opacity: 0.6;
}
/*************img-overlay css************/
.img-overlay{
    position: absolute;
    z-index: 10;
    bottom: 5%;
    height:15%;
    width: 90%;
    font-size:36px;
    padding: 15px;
    color: #000;
}
.overlay{
    position: absolute;
    z-index: 10;
    bottom: 26px;
    text-align: left;
    width: 45%;
    font-size:4.8vw;
    color: #023054;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    /*@media (min-width: 768px) {*/
    .overlay{
        bottom: 5px;
        padding-left: 10px;
    }
}
/*************img-overlay css************/

/*************aboutus-img-overlay css************/
.img {
    position: relative;
}

.text {
    width:100%;
    position: absolute;
    bottom:0%;
    left:0;
    padding:1rem;
    font-size: 28px;
    text-align: center;
    color: #000;

}
/*************aboutus-img-overlay css************/

/*************#footer css************/
#footer{
    background-color: #235d9e;
    color:#fff
}
#footer a{
    color:#fff;
    text-decoration: none; 
}
/*************#footer css************/

/*************#content css************/
.content_background{
    background-color: #EBF6FC;
}

.left_padding{
    padding-left: 45px;
}

.right_padding{
    padding-right: 0px;
}

.bottom_border{
    border-bottom: 1px dotted #000;
    font-size: 14px;
    padding: 5px;
}
/*************#content css************/

/*************#our team css************/

.team_1 {
    width: 100%;
    background-color: #245DA0;
    color: #fff;
}
.team_2 {
    width: 100%;
    background-color: #000000;
    color: #fff;
}
.team_3 {
    width: 100%;
    background-color: #5C5857;
    color: #fff;
}
.team_4 {
    width: 100%;
    background-color: #A70101;
    color: #fff;
}
.aboutus_title{
    width: 95%;
}

@media only screen and (max-width: 700px){
    .team_1 {
        width: 49.99999%;
    }
    .team_2 {
        width: 49.99999%;
    }
    .team_3 {
        width: 49.99999%;
    }
    .team_4 {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px){
    .team_1 {
        width: 100%;
    }
    .team_2 {
        width: 100%;
    }
    .team_3 {
        width: 100%;
    }
    .team_4 {
        width: 100%;
    }
}

/*************#our team css************/

/*************#Submit Button css************/
.submit_btn{
    margin-bottom: 5px;
}
/*************#Submit Button css************/
