<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveSetting(editableSetting)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-wrench"></i>
                        Setting Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Setting Key</label>
                                <input class="form-control" placeholder="Setting Key" ng-model="editableSetting.settingKey"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Setting Value</label>
                                <input class="form-control" placeholder="Setting Value" ng-model="editableSetting.settingValue"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Description" ng-model="editableSetting.description"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
