<div class="row">
    <div class="col-md-1 col-sm-1 col-xs-2">
        <img src="images/property1.jpg" class="img-responsive" width="80" height="390"/>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-8">
        <div class="panel-body thumbnail thumbnail-border custom-background">
            <div class="col-sm-6 col-xs-12">
                <h2>Process of finalizing the deal</h2>
                <hr>
            </div>
            <div class="pull-right">
                <button type="button" class="col-xs-6 btn btn-link btn-sm clearfix" data-ui-sref="main.help">Generate Report</button>
                <button type="button" class="col-xs-6 btn btn-link btn-sm" data-ui-sref="main.faqs">FAQ's</button>
            </div>
            <!--    <h2>Process of finalizing the deal</h2>-->
            <div class="col-sm-12 col-xs-12">
                <p>At this point you must be clear about which property is most suitable for you. There comes the process of finalizing and it is better if it is done through professional.</p>
                <p>You need to prepare, check list to cross check legal and technical marketability of property / project, prepare list of terms and conditions to be entered into conveyance document and valid points for price negotiation before finalizing the deals.</p>
                <p>Above all you need to know what price to pay and limits for acceptable variations, keep in mind that your decision taken today is going to decide your future success or failure. There is no point of cursing your luck later if you do not pay intention to the guidelines today.</p>
                <p>These guidelines are applicable universally, but if you have any specific enquiry  and you need any sort of assistance to take informed decision for buying property in and around Nagpur, feel free to contact us at 88888 43 880, 7755 92 3368.</p>
                <p>We offer free service to help you to identify suitable property and gets third party genuine information related to property buying.</p>
                <p>Created for public interest by Safe Deals, Nagpur</p>
                <p>Wish you a successful buying.</p>
                <p>Good Luck!</p>
            </div>
        </div>
    </div>
    <div  class="col-md-1 col-sm-1 col-xs-2">
        <img src="images/property1.jpg" class="img-responsive" width="90" height="390"/>
    </div>
</div>