<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveUser(editableUser)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-user"></i>
                        User Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control" placeholder="User Name" ng-model="editableUser.username"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" placeholder="Password" ng-model="editableUser.password"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableUser.repeatUsername">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>User Type</label>
                                <select class="form-control" ng-model="editableUser.userType">
                                    <option value="">Choose user type</option>
                                    <option value="UT_AGENT">Agent</option>
                                    <option value="UT_DEALER">Dealer</option>
                                    <option value="UT_BANK">Bank</option> 
                                    <option value="UT_SUPER_ADMIN">Admin</option>
                                    <option value="UT_GUEST">Guest</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="modal-footer">
                        <button class="btn btn-lg btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button"
                                onclick="window.history.back()"
                                class="btn btn-link" >
                            cancel
                        </button>				
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
