<div class="modal modal-safedeals">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="saveRoad(editableRoad)">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-bank"></i>
                        Road Form
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="Name" ng-model="editableRoad.name"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Size</label>
                                <input class="form-control" type="number" placeholder="Size" ng-model="editableRoad.size"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="editableRoad.repeatName">
                        <div class="col-sm-6 text-danger">
                            Found Records For Above Entered Name
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">                     
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Type</label>                                
                                <select class="form-control" ng-model="editableRoad.roadType">
                                    <option value="">Select Road Type</option>
                                    <option value="CEMENT_ROAD">Cement Road</option>
                                    <option value="TAR_ROAD">Tar Road</option>
                                    <option value="KACCHA_ROAD">Kaccha Road</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>                   
                                <input class="form-control"
                                       placeholder="Select City"
                                       uib-typeahead="city.id as city.name for city in searchCities($viewValue)"
                                       typeahead-on-select="setCity($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingCities" 
                                       typeahead-no-results="noCitiesFound"                                       
                                       ng-model="editableRoad.city.name" required />
                                <p ng-show="noCitiesFound" class="help-block text-muted">No Cities found</p>
                                <p ng-show="loadingCities" class="help-block text-muted">loading...</p>                                    
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-link" >
                        cancel
                    </button>				
                </div>
            </div>
        </form>
    </div>
</div>
