<div class="panel panel-default">
    <div class="modal-header text-center">
        <h3>Bank Menu</h3> 
    </div>
    <div class="panel-body">
        <div class="row col-md-offset-1">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="">
                        <div class="master">
                            <img src="images/icons_svg/bank_product.svg" class="icon_ht">
                        </div> 
                        <span title="Bank Product Master">Bank Product Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_image">
                        <div class="master">
                            <img src="images/icons_svg/img.svg" class="icon_ht">
                        </div> 
                        <span title="Image Master">Image Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_property">
                        <div class="master">
                            <img src="images/icons_svg/property.svg" class="icon_ht">
                        </div> 
                        <span title="Property Master">Property Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_project">
                        <div class="master">
                            <!--<i class="fa fa-map fa-3x"></i>-->
                            <img src="images/icons_svg/project.svg" class="icon_ht">
                        </div> 
                        <span title="Project Master">Project Master</span>
                    </a>
                </div>
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_video">
                        <div class="master">
                            <!--<i class="fa fa-map-marker fa-3x"></i>-->
                            <img src="images/icons_svg/video.svg" class="icon_ht">
                        </div> 
                        <span title="Location Type">Video Master</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>