<div class="container">
    <div class="" style="padding:10px 15px 10px ">
    <section>
        <!--        <div class="col-md-3 col-sm-6">
                    <div class="">
                        <div class="image"><a href="#"><img src="images/5.jpg" width="170" height="140"/></a></div>
                        <div class="name">
                            <strong>4.5 BHK Apartment to 1 BHK Apartment</strong>
                            <p><small>Subtext for header</small><p>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tbody>
                            <tr>
                                <th>Property Area</th>
                                <th>Amenities</th>
                                <th>Commute</th>
                                <th>Average Rate</th>
                                <th>Purpose of purchase</th>
                            </tr>
                            <tr>
                                <td>Ramdaspeth</td>
                                <td>
                                    <ul>
                                        <li>Hospitals</li>
                                        <li>Schools</li>
                                        <li>Work Places</li>
                                        <li>Mall</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Bus Stops</li>
                                    </ul>
                                </td>
                                <td>INR 9015 per sqft</td>
                                <td>Residence</td>
                            </tr>
                        </tbody>
                        </thead>
                    </table>
        
                </div>-->
        <div class="container intro">
            <div class="row">
                <h2>Looking for more options? Contact Us</h2>
                <p>Get matching properties delivered in your inbox as soon as they are uploaded.
            </div>
            <form role="form">
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">I am an</label>
                                <div class="col-sm-9">
                                    <input name="role" type="radio"> Agent &nbsp;
                                    <input name="role" type="radio"> Individual
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Contact No</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="col">
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="col-sm-4 btn btn-success" onclick="window.history.back()">Alert</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section><!-- /.thanku -->
    
</div>
</div>
<div data-ui-view></div>