<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_agent.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add Agent
            </a>
        </div>
        <div>
            <h4>Agent Master</h4>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Agent Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Agency</th>


                <th class="text-right">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="agent in agents">
                <td class="text-right">{{ currentOffset + $index + 1}}</td>
                <td>{{ agent.name}}</td>  
                <td>{{ agent.description}}</td>  
                <td>{{ agent.address}}</td>   
                <td>{{ agent.agency.name}}</td>
                <td class="text-right">
                    <a data-ui-sref="admin.masters_agent.edit({ agentId: agent.id })"
                       class="btn btn-primary">					
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.masters_agent.delete({ agentId: agent.id })"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="panel-footer">
        <ul class="pager">
            <li>
                <button ng-click="previousPage()" 
                        ng-disabled="{{ currentOffset == 0}}" 
                        class="btn btn-default" >
                    <i class="fa fa-arrow-left"></i>
                    Previous
                </button>
            </li>
            <li>
                <button ng-click="nextPage()"
                        ng-disabled="agents.length < 5 || nextAgents.length === 0"
                        class="btn btn-default">
                    Next 
                    <i class="fa fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
<div data-ui-view=""></div>


